# Server
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgres://postgres:password@localhost:4000/propel_db

# PostgreSQL container variables used by docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=propel_db